<a href="https://colab.research.google.com/github/cavendano01/Statistical-Learning-I/blob/main/Practica_2_PolinomialReg%26FeatureEng.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Parte 1 - Modelo exponencial de covid-19 usando feature-eng
Usando el ejemplo de covid-19 en el notebook de feature-eng (https://colab.research.google.com/drive/1sJV2HG7tQgCGKES3-dIclzHQJ9qAWB3b?usp=sharing) crear un modelo de covid-19 para Guatemala.

Convertir la fecha a un entero "número de día", por ejemplo si se usan datos desde el 22 de abril, este es el día 0, el 23 es el día 1.
Aplicar regresión lineal sobre la variable "Confirmed" transformada.
Una vez entrenado el modelo usarlo para aproximar la cantidad de casos confirmados para el 30 de mayo. Se debe reportar la cantidad de casos, no la cantidad transformada obtenida.

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from datetime import datetime
from google.colab import drive 
from scipy.stats import norm
from sklearn.metrics import mean_squared_error
import tensorflow as tf

In [9]:
if tf.__version__.startswith("2."):
  import tensorflow.compat.v1 as tf
  tf.compat.v1.disable_v2_behavior()
  tf.compat.v1.disable_eager_execution()
  print("Enabled compatitility to tf1.x")

Enabled compatitility to tf1.x

In [10]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [12]:
covid19_data = pd.read_csv('/content/gdrive/MyDrive/Statistical Learning O/covid.csv')
covid19_data["Date"] = pd.to_datetime(covid19_data["Date"],infer_datetime_format = True)
covid19_data.tail()

      Province/State         Country/Region  ...  Deaths  Recovered
29035            NaN         Western Sahara  ...       0          5
29036            NaN  Sao Tome and Principe  ...       5          4
29037            NaN                  Yemen  ...       8          1
29038            NaN                Comoros  ...       1          0
29039            NaN             Tajikistan  ...      20          0

[5 rows x 8 columns]

In [14]:
#filtradon Guatemala
covid_guatemala = covid19_data[(covid19_data["Country/Region"] == 'Guatemala') & (covid19_data["Confirmed"] > 0)].copy()

In [15]:
#dateTRansform

df = covid_guatemala.groupby("Date").sum()
df.tail()

                Lat     Long  Confirmed  Deaths  Recovered
Date
2020-05-06  15.7835 -90.2308        798      21         86
2020-05-07  15.7835 -90.2308        832      23         90
2020-05-08  15.7835 -90.2308        900      24        101
2020-05-09  15.7835 -90.2308        967      24        104
2020-05-10  15.7835 -90.2308       1052      26        110